#todo-upper{
    min-width: 500px;
}

#todo-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#task-container{
    margin-top: 10px;
    overflow-y: auto;
    max-height: 300px;
    margin-bottom: 10px;
}

#todo-header{
    color: azure;

}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#task-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#task-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#task-name-checkbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 15px;
}

#task-name-checkbox-checkbox{
    min-width: 15px;
}

.task-name {
    font-size: medium;
    margin-left: 10px;
    text-decoration: none;

}

.task-name.checked{
    text-decoration: line-through;
}

#remove-task-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    height: 25px;
}

#new-task-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
}

#task-input{
    background-color: rgb(27, 27, 27);
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    height: 25px;
    padding: 5px;
    color: azure;
}

#label-dropdown{
    margin-right: 10px;
}

#label-with-remove-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90px
}

#todo-component-separator{
    margin-top: 10px;
    margin-bottom: 30px;
}


#task-label-span{
    color: #b46600;
}