body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#dna_helix{
    height: 90px;
    color: rgb(83, 174, 253);
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}


@keyframes rotation{
    0% {transform: rotate(0deg);}
    10% {transform: rotate(0deg);}
    40% {transform: rotate(180deg) scale(1.5);}
    50% {transform: rotate(180deg) scale(1.5);}
    60% {transform: rotate(180deg) scale(1.5);}
    90% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

#dna_icon{
    font-size: 50px;
    color: #444444;

    &:hover{
        color: #858585;
        animation: rotation 4s infinite ease-in-out;
    }

}