#navbar-item,
#navbar-trigger{
    font-size: 1.4em;
    font-weight: 400;
    color: rgb(88, 88, 88);
    &:hover {
        background-color: rgb(27, 27, 27);
        color: rgb(178, 178, 178);
        transition: 300ms ease-in-out;
    }
}

#navbar-separator-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-separator{
    width: 2px;
    height: 20px;

    &:hover{
        background-color: rgba(255, 115, 0, 0.3);
        transition: 300ms ease-in-out;

    }
}

/* Arrow next to navbar dropdowns.*/
.navbar-expand-icon{
    margin-left: 4px;
}

.navbar-expand-icon polyline {
  stroke: oklch(70.5% 0.213 47.604);
  stroke-width: 2;
}

#navbar-content{
    background-color: rgb(17, 17, 17);
}

#navchoice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#binary-file{
    background-color: rgb(204, 204, 204);
    border-radius: 2px;
    height: 20px;
}